@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Pixelify+Sans&display=swap');


body {
  background-color: lightskyblue;
}

a {
  color: darkblue;
}

h1 {
  font-weight: bolder;
  font-family: 'Pixelify Sans', cursive;
}

p {
  font-family: 'Gabarito', cursive;
}


.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

